/*Tags*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #E1D4C9;
}

h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  line-height: 1;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

/*General*/
.wrapper {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*Header*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  flex-basis: 100px;
  height: 60px;
  background-image: url(img/header_and_footer/logo.svg);
}
.nav-list {
  flex-basis: 456px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  transform: translate(-2px, -2px);
}
.nav-list__item {
  cursor: default;
}
.nav-list__item, .nav__btn-menu {
  font-weight: 600;
  color: #403F3D;
  position: relative;
}
.nav-list__item:hover::after, .nav-list__item:focus::after, .nav__btn-menu:hover::after, .nav__btn-menu:focus::after {
  transform: scaleX(1);
  opacity: 1;
}
.nav-list__item::after, .nav__btn-menu::after {
  position: absolute;
  pointer-events: none;
  transition: transform 0.5s, opacity 0.5s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  transform: scaleX(0);
  opacity: 0;
}
.nav__btn-menu {
  cursor: pointer;
  transform: translate(-4px, -2px);
}
.nav__btn-menu-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(img/header_and_footer/coffee-cup.svg);
  vertical-align: top;
  transform: translateX(5px);
}

/*Mainbox*/
.mainbox {
  margin-top: 20px;
  border-radius: 40px;
}
.mainbox-desc {
  max-width: 518px;
  margin-left: 101px;
}
.mainbox-desc__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 41px;
}
.mainbox-desc__subtitle {
  color: #B0907A;
  font-variation-settings: "slnt" -10;
}
.mainbox-desc__text {
  margin-bottom: 40px;
}
.mainbox-desc__btn {
  display: inline-block;
  font-weight: 600;
  color: #403F3D;
  background-color: #E1D4C9;
  padding: 20px 78px;
  border-radius: 100px;
  position: relative;
  transition: padding 0.5s;
  transform: translateX(-1px);
  padding-left: 79px;
}
.mainbox-desc__btn:hover, .mainbox-desc__btn:focus {
  padding: 20px 88px 20px 68px;
  padding-left: 69px;
}
.mainbox-desc__btn:hover::after, .mainbox-desc__btn:focus::after {
  opacity: 1;
}
.mainbox-desc__btn::after {
  transition: opacity 0.5s;
  position: absolute;
  left: 120px;
  content: url(img/header_and_footer/coffee-cup.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  opacity: 0;
}

/*Favorite-coffee*/
.favorite-coffee {
  margin-top: 100px;
  position: relative;
}
.favorite-coffee__title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 40px;
  color: #403F3D;
}
.favorite-coffee__subtitle {
  color: #B0907A;
  font-variation-settings: "slnt" -10;
}

.slider {
  max-width: 480px;
  margin: 0 auto;
}
.slider-item {
  display: none;
  text-align: center;
  color: #403F3D;
}
.slider-item__pic {
  width: 480px;
}
.slider-item__type {
  margin: 21px 0 15px;
}
.slider-item__price {
  margin: 17px 0 39px;
}
.slider-item__type, .slider-item__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.slider-item--active {
  display: block;
}
.slider-controls {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 144px;
  margin: 0 auto;
}
.slider-controls__item {
  background-color: #C1B6AD;
  width: 40px;
  height: 4px;
  border-radius: 100px;
}
.slider-controls__item--active {
  background-color: #665F55;
}
.slider__btn-left, .slider__btn-right {
  height: 60px;
  position: absolute;
  top: 405px;
}
.slider__btn-left svg, .slider__btn-right svg {
  fill: transparent;
  transition: fill 0.5s;
}
.slider__btn-left svg rect, .slider__btn-right svg rect {
  stroke: #665F55;
}
.slider__btn-left svg path, .slider__btn-right svg path {
  stroke: #403F3D;
  transition: stroke 0.5s;
}
.slider__btn-left:hover svg, .slider__btn-right:hover svg {
  fill: #665F55;
}
.slider__btn-left:hover svg path, .slider__btn-right:hover svg path {
  stroke: #E1D4C9;
}
.slider__btn-left {
  left: 4px;
}
.slider__btn-right {
  right: 4px;
}

/*Block-pages*/
.header {
  padding: 20px 40px 0;
}

.mainbox {
  padding: 100px 0;
  background-image: url(img/main/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -30px;
}

/*italic*/
/*font-variation-settings: 'slnt' 10; */
/* font-variation-settings: 'ital' 1;*/
