@import "variables";
/*Tags*/
body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: $text-light;
}
h1, h2, h3, h4, h5, h6, ul, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
button {
	padding: 0;
	border:none;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
	line-height: 1;
	background-color: transparent;
}
img {
	vertical-align: bottom;
}
/*General*/
.wrapper {
	max-width: 1440px;
	padding: 0 40px;
	margin: 0 auto;
	box-sizing: border-box;
}
/*Header*/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	//flex-wrap: wrap;
	&__logo {
		flex-basis: 100px;
		height: 60px;
		background-image: url(img/header_and_footer/logo.svg);
	}
	&-list {
		flex-basis: 456px; //117 + 40 + 48 + 40 + 86 + 40 + 85
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		//flex-wrap: wrap;
		//text-align: center;
		transform: translate(-2px, -2px);
		&__item {
			cursor: default;
		}
	}
	&-list__item, &__btn-menu {
		font-weight: 600;
		color: $text-dark;
		position: relative; //useless, just need for absolute
		&:hover, &:focus{
			&::after{
				transform: scaleX(1);
				opacity: 1;
			}
		}
		&::after{
			position: absolute; //useless, pointer-events not working without this
			pointer-events: none;
			transition: transform 0.5s, opacity 0.5s;
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: $text-dark;
			transform: scaleX(0);
			opacity: 0;
		}
	}
	&__btn-menu {
		cursor: pointer;
		transform: translate(-4px, -2px);
		&-icon{
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url(img/header_and_footer/coffee-cup.svg);
			vertical-align: top;
			transform: translateX(5px);
		}
	}
}

/*Mainbox*/
.mainbox {
	margin-top: 20px;
	border-radius: 40px;
	&-desc {
		max-width: 518px;
		margin-left: 101px;
		&__title {
			font-size: 72px;
			font-weight: 600;
			line-height: 1.05;
			margin-bottom: 41px;
		}
		&__subtitle {
			color: $text-accent;
			font-variation-settings: 'slnt' -10; //не italic, надо читать статью про переменные шрифты https://web.dev/articles/variable-fonts?hl=ru
		}
		&__text {
			margin-bottom: 40px;
		}
		&__btn {
			display: inline-block;
			font-weight: 600;
			color: $text-dark;
			background-color: $text-light;
			padding: 20px 78px;
			border-radius: 100px;
			position: relative;
			transition: padding 0.5s;
			transform: translateX(-1px);
			padding-left: 79px;
			&:hover, &:focus{
				padding: 20px 88px 20px 68px;
				padding-left: 69px;
				&::after {
					opacity: 1;
				}
			}
			&::after {
				transition: opacity 0.5s;
				position: absolute;
				left: 120px;
				content: url(img/header_and_footer/coffee-cup.svg);
				display: inline-block;
				width: 20px;
				height: 20px;
				vertical-align: top;
				opacity: 0;
			}
		}
	}
}

/*Favorite-coffee*/
.favorite-coffee {
	position: relative;
	&__title {
		text-align: center;
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 40px;
		color: $text-dark;
	}
	&__subtitle {
		color: $text-accent;
		font-variation-settings: 'slnt' -10;
	}
	.slider {
		max-width: 480px;
		margin: 0 auto;
		&-item {
			display: none;
			text-align: center;
			color: $text-dark;
			&__pic {
				width: 480px;
			}
			&__type {
				margin: 21px 0 15px;
			}
			&__price {
				margin:17px 0 39px;
			}
			&__type, &__price {
				font-size: 24px;
				font-weight: 600;
				line-height: 1.25;
			}
			&--active {
				display: block;
			}
		}
		&-controls{
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			max-width: 144px;
			margin: 0 auto;
			&__item {
				background-color: $border-light;
				width: 40px;
				height: 4px;
				border-radius: 100px;
				&--active {
					background-color: $border-dark;
				}
			}
		}
		&__btn-left, &__btn-right {
			height: 60px;
			position: absolute;
			top: 505px;
			//border: 1px solid $border-dark; //можно через div сделать, чтобы при ховере углы не были доступны для клика, ведь они скруглены
			//border-radius: 100%;
			//svg {
				//padding: 17px;
			//}
			svg {
				fill: transparent;
				transition: fill 0.5s;
			}
			svg rect {
				stroke: $border-dark;
			}
			svg path {
				stroke: $text-dark;
				transition: stroke 0.5s;
			}
			&:hover {
				svg {
					fill: $border-dark;
				}
				svg path {
					stroke: $text-light;
				}
			}
		}
		&__btn-left {
			left: 4px;
		}
		&__btn-right {
			right: 4px;
		}
	}
}

/*About*/
.about {
	&__title {
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		color: $text-dark;
		margin-bottom: 40px;
	}
	&__subtitle {
		color: $text-accent;
		font-variation-settings: 'slnt' -10;
	}
	.grid {
		display: grid;
		grid-template-areas: "a b"
							 "a b"
							 "a b"
							 "a d"
							 "c d"
							 "c d"
							 "c d";
		gap: 40px;
		&-item {
			border-radius: 20px;
			width: 660px;
			overflow: hidden;
			position: relative;
			&-1, &-4 {
				height: 590px;
				&__pic {
					min-height: 590px;
				}
			}
			&-2, &-3 {
				height: 430px;
				&__pic {
					min-height: 430px;
				}
			}
			&-1 {grid-area: a;}
			&-2 {grid-area: b;}
			&-3 {grid-area: c;}
			&-4 {grid-area: d;}
			&__pic {
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) scale(1.1);
				object-fit: cover;
				transition: transform 0.5s;
				&:hover, &:focus {
					transform: translate(-50%,-50%) scale(1);
				}
			}
		}
	}
}
/*Block-pages*/
.header {
	padding: 20px 40px 0;
}
.mainbox {
	padding: 100px 0;
	background-image: url(img/main/hero.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -30px;
}
.favorite-coffee {
	padding: 100px 0;
}
/*italic*/
/*font-variation-settings: 'slnt' 10; */
/* font-variation-settings: 'ital' 1;*/