@import "variables";
@import "base";
@import "header";
@import "footer";
.enjoy {
	margin-top: 20px;
	border-radius: 40px;
	&-desc {
		max-width: 518px;
		margin-left: 101px;
		&__title {
			font-size: 72px;
			font-weight: 600;
			line-height: 1.05;
			margin-bottom: 41px;
			color: $text-light;
		}
		&__subtitle {
			color: $text-accent;
			font-variation-settings: 'slnt' -10;
		}
		&__text {
			margin-bottom: 40px;
			color: $text-light;
		}
		&__btn {
			display: inline-block;
			font-weight: 600;
			color: $text-dark;
			background-color: $text-light;
			padding: 20px 78px;
			border-radius: 100px;
			position: relative;
			transition: padding 0.5s;
			transform: translateX(-1px);
			padding-left: 79px;
			&:hover, &:focus{
				padding: 20px 88px 20px 68px;
				padding-left: 69px;
				&::after {
					opacity: 1;
				}
			}
			&::after {
				transition: opacity 0.5s;
				position: absolute;
				left: 120px;
				content: url(img/header_and_footer/coffee-cup.svg);
				display: inline-block;
				width: 20px;
				height: 20px;
				vertical-align: top;
				opacity: 0;
			}
		}
	}
}

.favorite-coffee {
	position: relative;
	&__title {
		text-align: center;
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 40px;
		color: $text-dark;
	}
	&__subtitle {
		color: $text-accent;
		font-variation-settings: 'slnt' -10;
	}
	.slider {
		max-width: 480px;
		margin: 0 auto;
		&-item {
			display: none;
			text-align: center;
			color: $text-dark;
			&__pic {
				width: 480px;
			}
			&__type {
				margin: 21px 0 15px;
			}
			&__price {
				margin:17px 0 39px;
			}
			&__type, &__price {
				font-size: 24px;
				font-weight: 600;
				line-height: 1.25;
			}
			&--active {
				display: block;
			}
		}
		&-controls{
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			max-width: 144px;
			margin: 0 auto;
			&__item {
				background-color: $border-light;
				width: 40px;
				height: 4px;
				border-radius: 100px;
				transition: background-color 0.5s;
				&:hover, &:focus {
					cursor: pointer;
					background-color: $border-dark;
				}
				&--active {
					background-color: $border-dark;
					&:hover, &:focus {
						user-select: none;
						cursor: default;
					}
				}
			}
		}
		&__btn-left, &__btn-right {
			height: 60px;
			position: absolute;
			top: 505px;
			svg {
				fill: transparent;
				transition: fill 0.5s;
				rect {
					stroke: $border-dark;
				}
				path {
					stroke: $text-dark;
					transition: stroke 0.5s;
				}
				&:hover {
					fill: $border-dark;
					path {
						stroke: $text-light;
					}
				}
			}
		}
		&__btn-left {
			left: 4px;
		}
		&__btn-right {
			right: 4px;
		}
	}
}

.about {
	&__title {
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		color: $text-dark;
		margin-bottom: 40px;
	}
	&__subtitle {
		color: $text-accent;
		font-variation-settings: 'slnt' -10;
	}
	.grid {
		display: grid;
		grid-template-areas: "a b"
							 "a b"
							 "a b"
							 "a d"
							 "c d"
							 "c d"
							 "c d";
		gap: 40px;
		&-item {
			border-radius: 20px;
			width: 660px;
			overflow: hidden;
			position: relative;
			&-1, &-4 {
				height: 590px;
				&__pic {
					min-height: 590px;
				}
			}
			&-2, &-3 {
				height: 430px;
				&__pic {
					min-height: 430px;
				}
			}
			&-1 {grid-area: a;}
			&-2 {grid-area: b;}
			&-3 {grid-area: c;}
			&-4 {grid-area: d;}
			&__pic {
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) scale(1.1);
				transition: transform 0.5s;
				&:hover, &:focus {
					transform: translate(-50%,-50%) scale(1);
				}
			}
		}
	}
}

.mobile-app {
	display: flex;
	justify-content: space-between;
	.download {
		flex-basis: 630px;
		&__title {
			font-size: 60px;
			font-weight: 600;
			line-height: 1.25;
			color: $text-dark;
			margin: 144px 0 40px;
		}
		&__subtitle {
			color: $text-accent;
			font-variation-settings: 'slnt' -10;
		}
		&__desc {
			color: $text-dark;
		}
		&-market {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			margin-top: 40px;
			max-width: 420px;
			&__appstore svg, &__gplay svg {
				fill: transparent;
				transition: fill 0.5s;
				rect {
					stroke: $border-dark;
				}
				path {
					fill: $text-dark;
					transition: fill 0.5s;
				}
				&:hover {
					fill: $border-dark;
					path {
						fill: $text-light;
					}
				}
			}
		}
	}
	&__img {
		flex-basis: 630px;
		height: 630px;
	}
}

/*Block-pages*/
.enjoy, .favorite-coffee {
	padding: 100px 0;
}
.enjoy {
	background-image: url(img/main/hero.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -30px;
}
.about, .mobile-app {
	padding-bottom: 100px;
}