/*Tags*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #E1D4C9;
}

h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

/*General*/
.wrapper {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*Header*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  flex-basis: 100px;
  height: 60px;
  background-image: url(img/header_and_footer/logo.svg);
}
.nav-list {
  flex-basis: 456px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.nav-list__item {
  cursor: default;
}
.nav-list__item, .nav__btn-menu {
  font-weight: 600;
  color: #403F3D;
  position: relative;
}
.nav-list__item:hover::after, .nav-list__item:focus::after, .nav__btn-menu:hover::after, .nav__btn-menu:focus::after {
  transform: scaleX(1);
  opacity: 1;
}
.nav-list__item::after, .nav__btn-menu::after {
  position: absolute;
  pointer-events: none;
  transition: transform 0.5s, opacity 0.5s;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  transform: scaleX(0);
  opacity: 0;
}
.nav__btn-menu {
  cursor: pointer;
}
.nav__btn-menu-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(img/header_and_footer/coffee-cup.svg);
  vertical-align: top;
}

/*Mainbox*/
.mainbox-desc {
  max-width: 518px;
  margin-left: 101px;
}
.mainbox-desc__title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 41px;
}
.mainbox-desc__subtitle {
  color: #B0907A;
  font-variation-settings: "slnt" -10;
}
.mainbox-desc__text {
  margin-bottom: 40px;
}
.mainbox-desc__btn {
  display: inline-block;
  font-weight: 600;
  color: #403F3D;
  background-color: #E1D4C9;
  padding: 20px 78px;
  border-radius: 100px;
  position: relative;
  transition: padding 0.5s;
}
.mainbox-desc__btn:hover, .mainbox-desc__btn:focus {
  padding: 20px 88px 20px 68px;
}
.mainbox-desc__btn:hover::after, .mainbox-desc__btn:focus::after {
  opacity: 1;
}
.mainbox-desc__btn::after {
  transition: opacity 0.5s;
  position: absolute;
  left: 119px;
  content: url(img/header_and_footer/coffee-cup.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  opacity: 0;
}

/*Block-pages*/
.header {
  padding: 20px 40px 0;
}

.mainbox {
  margin-top: 20px;
  padding: 100px 0;
  background-image: url(img/main/hero.jpg);
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -30px;
}

/*italic*/
/*font-variation-settings: 'slnt' 10; */
/* font-variation-settings: 'ital' 1;*/
