@import "variables";
@import "base";
@import "header";
@import "footer";
/*Some changes to header in menu*/
.nav {
    &__btn-menu{
        user-select: none;
        cursor: default;
        transform: translate(1px, -2px);
        &::after{
            transform: scaleX(1);
            opacity: 1;
        }
        &-icon {
            transform: translateX(0px);
        }
    }
    &-list {
        transform: translate(0px, -2px);
    }
}

/*Menu*/
.menu {
    &-desc {
        &__title {
            font-size: 60px;
            font-weight: 600;
            line-height: 1.25;
            color: $text-dark;
            max-width: 870px;
            margin: 20px auto 40px;
            text-align: center;
        }
        &__subtitle {
            color: $text-accent;
            font-variation-settings: 'slnt' -10;
        }
    }
    &-tab {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        max-width: 362px;
        margin: 0 auto 34px;
        &__btn {
            svg {
                fill: transparent;
                .circle-stroke {
                    stroke: $border-light;
                    transition: fill 0.5s, stroke 0.5s;
                }
                .circle-img {
                    fill: $border-light;
                    transition: fill 0.5s;
                }
                .text {
                    fill: $text-dark;
                    transition: fill 0.5s;
                }
                &:hover {
                    .circle-stroke {
                        stroke: $border-dark;
                        fill: $border-dark;
                    }
                    .circle-img, .text {
                        fill: $text-light;
                    }
                }
            }
            &--active {
                svg {
                    fill: transparent;
                    .circle-stroke {
                        stroke: $border-dark;
                        fill: $border-dark;
                    }
                    .circle-img, .text {
                        fill: $text-light;
                    }
                }
            }
        }
    }
    .grid {
        margin-bottom: 100px;
        &-coffee, &-dessert {
            grid-template-areas: "a b c d"
                                 "e f g h";
            &-item {
                &-1 {grid-area: a;}
                &-2 {grid-area: b;}
                &-3 {grid-area: c;}
                &-4 {grid-area: d;}
                &-5 {grid-area: e;}
                &-6 {grid-area: f;}
                &-7 {grid-area: g;}
                &-8 {grid-area: h;}
            }
        }
        &-tea {
            grid-template-areas: "a b c d";
            &-item {
                &-1 {grid-area: a;}
                &-2 {grid-area: b;}
                &-3 {grid-area: c;}
                &-4 {grid-area: d;}
            }
        }
        &-coffee, &-tea, &-dessert {
            display: none;
            gap: 40px;
            &-item {
                width: 308px;
                border-radius: 40px;
                border: 1px solid $border-light;
                height: 504px;
                position: relative;
                &-box {
                    overflow: hidden;
                    position: relative;
                    height: 309px;
                    border-radius: 40px;
                    &__pic {
                        min-height: 309px;
                        max-width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%) scale(1.1);
                        transition: transform 0.5s;
                        &:hover, &:focus {
                            transform: translate(-50%,-50%) scale(1);
                        }
                    }
                }
                &__type {
                    margin: 21px 0px 11px 19px;
                }
                &__desc {
                    margin: 0 18px 13px 19px;
                }
                &__price {
                    margin-left: 19px;
                    position: absolute;
                    bottom: 18px;
                }
                &__type, &__price, &__desc {
                    color: $text-dark;
                }
                &__type, &__price {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.25;
                }
            }
        }
        &-coffee {
            &--active {
                display: grid;
            }
        }
    }
}