$text-light: #E1D4C9;
$text-dark: #403F3D;
$text-accent: #B0907A;

$headerscolor: #44444f;
$subheaderscolor: #65e496;
$whitecolor: #ffffff;
$blackcolor: #9191b5;
$primarytracking: 0.05em;
$secondraytracking: 0.04em;