@import "variables";
@import "base";
@import "header";
@import "footer";

.enjoy {
	position: relative;
	margin-top: 20px;
	border-radius: 40px;
	&-video {
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		border-radius: 40px;
	}
	&-desc {
		max-width: 518px;
		margin-left: clamp(60px, 7.5vw, 101px);
		&__title {
			margin-bottom: 41px;
			font-size: 72px;
			font-weight: 600;
			line-height: 1.05;
			color: $text-light;
		}
		&__subtitle {
			font-variation-settings: 'slnt' -10;
			color: $text-accent;
		}
		&__text {
			margin-bottom: 40px;
			color: $text-light;
		}
		&__btn {
			position: relative;
			display: inline-block;
			padding: 20px 78px 20px 79px;
			border-radius: 100px;
			font-weight: 600;
			color: $text-dark;
			background-color: $text-light;
			transition: padding 0.5s;
			transform: translateX(-1px);
			&::after {
				position: absolute;
				left: 120px;
				display: inline-block;
				width: 20px;
				height: 20px;
				vertical-align: top;
				transition: opacity 0.5s;
				opacity: 0;
				content: url(../img/header_and_footer/coffee-cup.svg);
			}
		}
	}
}

.favorite-coffee {
	&__title {
		margin-bottom: 40px;
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		text-align: center;
		color: $text-dark;
	}
	&__subtitle {
		font-variation-settings: 'slnt' -10;
		color: $text-accent;
	}
	.slider-box {
		position: relative;
	}
	.slider {
		max-width: 480px;
		margin: 0 auto;
		&-item {
			display: none;
			text-align: center;
			color: $text-dark;
			&__pic {
				width: 100%;
				height: 100%;
			}
			&__type {
				margin: 21px 0 15px;
			}
			&__price {
				margin:17px 0 39px;
			}
			&__type, &__price {
				font-size: 24px;
				font-weight: 600;
				line-height: 1.25;
			}
			&--active {
				display: block;
			}
		}
		&-controls {
			display: flex;
			justify-content: space-between;
			max-width: 144px;
			margin: 0 auto;
			list-style-type: none;
			&__item {
				width: 40px;
				height: 4px;
				border-radius: 100px;
				background-color: $border-light;
				&--active {
					background-color: $border-dark;
				}
			}
		}
		&__btn-left, 
		&__btn-right {
			position: absolute;
			top: 290px;
			height: 60px;
			width: 60px;
			border: 1px solid $border-dark;
			border-radius: 100%;
			transition: background-color 0.5s;
			svg {
				transform: translate(0px, 1px);
				path {
					stroke: $text-dark;
					transition: stroke 0.5s;
				}
			}
		}
		&__btn-left {
			left: 4px;
		}
		&__btn-right {
			right: 4px;
		}
	}
}

.about {
	&__title {
		margin-bottom: 40px;
		font-size: 60px;
		font-weight: 600;
		line-height: 1.25;
		color: $text-dark;
	}
	&__subtitle {
		font-variation-settings: 'slnt' -10;
		color: $text-accent;
	}
	.grid {
		display: grid;
		grid-template-areas: "a b"
							 "a b"
							 "a b"
							 "a d"
							 "c d"
							 "c d"
							 "c d";
		gap: 40px;
		grid-template-columns: 1fr 1fr;
		&-item {
			position: relative;
			border-radius: 20px;
			overflow: hidden;
			&-1, 
			&-4 {
				height: 590px;
			}
			&-2, 
			&-3 {
				height: 430px;
			}
			&-1 {grid-area: a;}
			&-2 {grid-area: b;}
			&-3 {grid-area: c;}
			&-4 {grid-area: d;}
			&__pic {
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: 100%;
				height: 100%;
				transition: transform 0.5s;
				transform: translate(-50%,-50%) scale(1.1);
				object-fit: cover;
				/*
					width: 688px;
					height: 688px;
					transform: translateY(-49px) scale(1.055);
				*/
			}
		}
	}
}

.mobile-app {
	display: flex;
	justify-content: space-between;
	.download {
		flex-basis: 630px;
		&__title {
			margin: 144px 0 40px;
			font-size: 60px;
			font-weight: 600;
			line-height: 1.25;
			color: $text-dark;
		}
		&__subtitle {
			font-variation-settings: 'slnt' -10;
			color: $text-accent;
		}
		&__desc {
			color: $text-dark;
		}
		&-market {
			display: flex;
			justify-content: space-between;
			max-width: 420px;
			margin-top: 40px;
			list-style-type: none;
			flex-wrap: wrap;
			&__appstore,
			&__gplay {
				display: flex;
				justify-content: flex-start;
				width: 200px;
				height: 64px;
				border: 1px solid $border-dark;
				border-radius: 100px;
				box-sizing: border-box;
				padding: 13px 21px 11px 19px;
				transition: background-color 0.5s;
				svg {
					margin-right: 8px;
					path {
						fill: $text-dark;
						transition: fill 0.5s;
					}
				}
			}
			&-desc {
				font-size: 10px;
				font-weight: 600;
				line-height: 1.4;
				color: $text-dark;
				display: flex;
				flex-direction: column;
				transition: color 0.5s;
				transform: translate(0px, -2px);
				span {
					font-size: 16px;
					font-weight: 600;
					line-height: 1.5;
					display: inline-block;
					transform: translate(0px, 2px);
				}
			}
		}
	}
	&__img {
		max-width: 630px;
		width: 100%;
		height: 100%;
	}
}

/*Block-pages*/
.favorite-coffee {
	padding: 100px 0;
}
.enjoy {
	padding: 100px 0;
}
.about,
.mobile-app {
	padding-bottom: 100px;
}