@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
  .nav-list__item:hover::after, .nav__btn-menu:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  .enjoy-desc__btn:hover {
    padding: 20px 88px 20px 69px;
  }
  .enjoy-desc__btn:hover::after {
    opacity: 1;
  }
  .favorite-coffee .slider__btn-left:hover, .favorite-coffee .slider__btn-right:hover {
    background-color: #665F55;
  }
  .favorite-coffee .slider__btn-left:hover svg path, .favorite-coffee .slider__btn-right:hover svg path {
    stroke: #E1D4C9;
  }
  .about .grid-item__pic:hover {
    transform: translate(-50%, -50%) scale(1);
  }
  .mobile-app .download-market__appstore:hover, .mobile-app .download-market__gplay:hover {
    background-color: #665F55;
  }
  .mobile-app .download-market__appstore:hover svg path, .mobile-app .download-market__gplay:hover svg path {
    fill: #E1D4C9;
  }
  .mobile-app .download-market__appstore:hover .download-market-desc, .mobile-app .download-market__gplay:hover .download-market-desc {
    color: #E1D4C9;
  }
  .menu-tab__btn:hover {
    background-color: #665F55;
  }
  .menu-tab__btn:hover svg .circle-img {
    fill: #E1D4C9;
  }
  .menu-tab__btn:hover span {
    color: #E1D4C9;
  }
  .menu-tab__btn--active:hover {
    user-select: none;
    cursor: default;
  }
  .menu .grid-coffee-item:hover .grid-coffee-item-box__pic, .menu .grid-tea-item:hover .grid-coffee-item-box__pic, .menu .grid-dessert-item:hover .grid-coffee-item-box__pic {
    transform: translate(-50%, -50%) scale(1);
  }
  .footerbox-desc-social__item:hover {
    background-color: #E1D4C9;
  }
  .footerbox-desc-social__item:hover svg path {
    stroke: #403F3D;
  }
  .footerbox-connect-list__address:hover::after, .footerbox-connect-list__tel:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
@media screen and (max-width: 1439px) {
  .about {
    padding-bottom: 0;
  }
  .menu .grid-coffee, .menu .grid-dessert {
    grid-template-areas: "a b c" "d e f";
  }
  .menu .grid-coffee-item-7, .menu .grid-coffee-item-8, .menu .grid-dessert-item-7, .menu .grid-dessert-item-8 {
    display: none;
  }
}
@media screen and (max-width: 1330px) {
  .mobile-app {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mobile-app .download {
    flex-basis: auto;
    margin-bottom: 100px;
  }
  .mobile-app .download__title {
    margin: 100px 0 40px;
  }
}
@media screen and (max-width: 1181px) {
  .footerbox {
    justify-content: space-between;
  }
  .footerbox-desc {
    margin-right: 0;
  }
}
@media screen and (max-width: 1107px) {
  .menu .grid {
    margin-bottom: 40px;
  }
  .menu .grid-coffee, .menu .grid-dessert {
    grid-template-areas: "a b" "c d";
    justify-content: center;
  }
  .menu .grid-coffee-item-5, .menu .grid-coffee-item-6, .menu .grid-dessert-item-5, .menu .grid-dessert-item-6 {
    display: none;
  }
  .menu .grid-add {
    display: block;
  }
}
@media screen and (max-width: 1081px) {
  .footerbox {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .about .grid {
    grid-template-areas: "a" "d";
    grid-template-columns: minmax(auto, 688px);
    justify-content: center;
  }
  .about .grid-item-2, .about .grid-item-3 {
    display: none;
  }
  .about .grid-item__pic {
    transform: translate(-50%, -50%) scale(1.055);
  }
}
@media screen and (max-width: 903px) {
  .favorite-coffee .slider__btn-left, .favorite-coffee .slider__btn-right {
    top: 580px;
  }
}
@media screen and (max-width: 835px) {
  .favorite-coffee .slider__btn-left {
    left: 0px;
  }
  .favorite-coffee .slider__btn-right {
    right: 0px;
  }
}
@media screen and (max-width: 817px) {
  .enjoy-desc__btn {
    padding: 20px 93px 20px 64px;
    transform: translateX(0px);
  }
  .enjoy-desc__btn:hover {
    padding: 20px 93px 20px 64px;
  }
  .enjoy-desc__btn::after {
    opacity: 1;
    left: 116px;
    top: 22px;
  }
  .footerbox {
    padding-bottom: 84px;
  }
  .footerbox-desc {
    margin-bottom: 68px;
  }
}
@media screen and (max-width: 768px) {
  .nav-list, .nav__btn-menu {
    display: none;
  }
  .nav-btn-mobile-equal {
    display: flex;
  }
  .nav--mobile .nav-list,
  .nav--mobile .nav__btn-menu {
    display: block;
  }
  .nav--mobile .nav-list__item:hover::after,
  .nav--mobile .nav__btn-menu:hover::after {
    opacity: 0;
  }
  .nav--mobile {
    display: flex;
  }
  .wrap-mobile {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: clamp(16px, 3.5vw, 40px);
    padding-right: clamp(16px, 3.5vw, 40px);
  }
  .enjoy {
    padding: clamp(60px, 7.5vw, 100px) 0;
    box-sizing: content-box;
    padding-right: 7px;
  }
  .enjoy-desc {
    margin-left: clamp(15px, 3.5vw, 60px);
  }
  .enjoy-desc__title {
    font-size: clamp(42px, 10vw, 72px);
    line-height: 1.15;
  }
  .enjoy-desc__text {
    margin-bottom: 38px;
  }
  .enjoy-desc__btn {
    transform: translateX(1px);
  }
  .favorite-coffee__title,
  .about__title,
  .mobile-app .download__title,
  .menu-desc__title {
    font-size: clamp(32px, 8vw, 60px);
  }
  .favorite-coffee .slider__btn-left,
  .favorite-coffee .slider__btn-right {
    display: none;
  }
  .about .grid-item__pic {
    transform: translate(-50%, -50%) scale(1.23);
  }
  .menu .grid-coffee, .menu .grid-tea, .menu .grid-dessert {
    grid-template-areas: "a" "b" "c" "d";
  }
  .footerbox {
    padding-left: clamp(16px, 4vw, 60px);
  }
  .footerbox-desc__title {
    font-size: clamp(32px, 7vw, 60px);
  }
}
@media screen and (max-width: 565px) {
  .mobile-app .download {
    margin-bottom: 20px;
  }
  .mobile-app .download-market li {
    margin-bottom: 20px;
    margin-right: 9px;
  }
  .footerbox {
    padding-top: 60px;
    padding-right: 16px;
    padding-bottom: 44px;
  }
  .footerbox-desc {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 379px) {
  .menu-tab {
    flex-direction: column;
  }
  .menu-tab__btn {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 342px) {
  .menu .grid-coffee-item, .menu .grid-tea-item, .menu .grid-dessert-item {
    width: calc(100% - 2px);
  }
}
.disable-btn {
  pointer-events: none;
}

.active-mobile {
  left: 0;
}

.cross-btn .nav-btn-mobile-equal__first {
  transform: rotate(45deg);
}
.cross-btn .nav-btn-mobile-equal__second {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=media.css.map */
