@import "variables";
@media (hover: hover) {
    button {
        &:hover {
            cursor: pointer;
        }
    }
    .nav {
        &-list__item,
        &__btn-menu {
            &:hover {
                &::after {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
    .enjoy-desc__btn {
        &:hover {
            padding: 20px 88px 20px 69px;
            &::after {
                opacity: 1;
            }
        }
    }
    .favorite-coffee .slider {
		&-controls__item {
            &:hover {
                background-color: $border-dark;
                cursor: pointer;
            }
            &--active {
                &:hover {
                    user-select: none;
                    cursor: default;
                }
            }
		}
        &__btn-left, 
        &__btn-right {
            svg {
                &:hover {
                    fill: $border-dark;
                    path {
                        stroke: $text-light;
                    }
                }
            }
        }
    }
    .about .grid-item__pic {
        &:hover {
            transform: translate(-50%,-50%) scale(1);
        }
    }
    .mobile-app .download-market {
        &__appstore svg, 
        &__gplay svg {
            &:hover {
                fill: $border-dark;
                path {
                    fill: $text-light;
                }
            }
        }
    }
    .menu-tab__btn {
        svg {
            &:hover {
                .circle-stroke {
                    stroke: $border-dark;
                    fill: $border-dark;
                }
                .circle-img,
                .text {
                    fill: $text-light;
                }
            }
        }
        &--active {
            &:hover {
                user-select: none;
                cursor: default;
            }
        }
    }
    .menu .grid {
        &-coffee, 
        &-tea, 
        &-dessert {
            &-item {
                &:hover .grid-coffee-item-box__pic {
                    transform: translate(-50%,-50%) scale(1);
                }
            }
        }
    }
    .footerbox {
        &-desc-social__item svg {
            &:hover {
                rect {
                    stroke: $text-light;
                    fill: $text-light;
                }
                path {
                    stroke: $text-dark;
                }
            }
        }
        &-connect-list {
            &__address,
            &__tel {
                &:hover {
                    &::after{
                        transform: scaleX(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1439px) {
    .about {
        padding-bottom: 0;
    }
    .menu .grid {
        &-coffee, 
        &-dessert {
            grid-template-areas: "a b c"
                                 "d e f";
            &-item {
                &-7,
                &-8 {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1330px) {
    .mobile-app {
        flex-wrap: wrap;
        justify-content: center;
        .download {
            flex-basis: auto;
            margin-bottom: 94px;
            &__title {
                margin: 100px 0 40px;
            }
        }
    }
}
@media screen and (max-width: 1181px) {
    .footerbox {
        justify-content: space-between;
        &-desc {
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 1107px) {
    .menu .grid {
        margin-bottom: 40px;
        &-coffee, 
        &-dessert {
            grid-template-areas: "a b"
                                 "c d";
            justify-content: center;
            &-item {
                &-5,
                &-6 {
                    display: none;
                }
            }
        }
    }
    .menu .grid-add {
        display: block;
    }
}
@media screen and (max-width: 1081px) {
    .footerbox {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 835px) {
    .favorite-coffee .slider {
        &__btn-left {
            left: 0px;
        }
        &__btn-right {
            right: 0px;
        }
    }
    .about .grid-item__pic {
        transform: translate(-50%, -50%) scale(1.055);
        width: 688px;
        height: 688px;
    }
}
@media screen and (max-width: 817px) {
    .enjoy-desc {
        margin-left: 60px;
        &__btn {
            //padding: 20px 88px 20px 69px;
            padding: 20px 93px 20px 64px;
            transform: translateX(0px);
            &:hover {//заглушка, если ховерят на десктопе
                padding: 20px 93px 20px 64px;
            }
            &::after {
                opacity: 1;
                left: 116px;
                top: 22px;
            }
        }
    }
    .footerbox {
        padding-left: 60px;
        padding-bottom: 84px;
        &-desc {
            margin-bottom: 62px;
        }
    }
}
@media screen and (max-width: 768px) {
    .nav {
        &-list,
        &__btn-menu {
            display: none;
        }
        &-btn-mobile-equal {//бургер-меню
            display: block;
        }
        &--mobile {
            .nav-list,
            .nav__btn-menu {
                display: block;
            }
            .nav-list__item,
            .nav__btn-menu {
				&:hover::after { //заглушка на десктопе
					opacity: 0;
				}
            }
        }
    }
    .about .grid {
        grid-template-areas: "a"
                             "d";
        grid-template-columns: 1fr;
        &-item {
            &-2, 
            &-3 {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
    .enjoy {
        padding: 60px 0;
        box-sizing: content-box;
        padding-right: 7px;
        &-desc {
            margin-left: 15px;
            &__title {
                font-size: 42px; //font-size: clamp(42px, 5vw, 72px);
                line-height: 1.15;
            }
            &__text {
                margin-bottom: 38px;
            }
            &__btn {
                transform: translateX(1px);
            }
        }
    }
    .favorite-coffee {
        &__title {
            font-size: 32px;//font-size: clamp(32px, 4vw, 60px);
        }
        .slider-box {
            .slider__btn-left,
            .slider__btn-right {
                display: none;
            }
        }
        .slider-item__pic {
            width: 348px;
            height: 348px;
        }
    }
    .about {
        &__title {
            font-size: 32px;
        }
    }
    .mobile-app {
        .download {
            &__title {
                font-size: 32px;
            }
        }
        &__img {
            flex-basis: 468px;
            width: 468px;
            height: 468px;
        }
    }
    .menu {
        &-desc__title {
            font-size: 32px;
        }
        .grid {
            &-coffee, 
            &-tea, 
            &-dessert {
                grid-template-areas: "a"
                                     "b"
                                     "c"
                                     "d";
            }
        }
    }
    .footerbox-desc__title {
        font-size: 32px;
    }
}
@media screen and (max-width: 565px) {
    .mobile-app {
        .download {
            margin-bottom: 20px;
            &-market {
                li {
                    margin-bottom: 14px;
                    margin-right: 9px
                }
            }
        }
        &__img {
            flex-basis: 348px;
            width: 348px;
            height: 348px;
        }
    }
    .footerbox {
        padding: 60px 16px 44px;
        &-desc {
            margin-bottom: 2px;
        }
    }
}
.disable-btn,
.disable-mobile {
	display: none;
}
.active-btn {
	display: block;
}
.active-mobile {
	display: flex;
}