@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
  .nav-list__item:hover::after, .nav__btn-menu:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  .enjoy-desc__btn:hover {
    padding: 20px 88px 20px 69px;
  }
  .enjoy-desc__btn:hover::after {
    opacity: 1;
  }
  .favorite-coffee .slider-controls__item:hover {
    background-color: #665F55;
    cursor: pointer;
  }
  .favorite-coffee .slider-controls__item--active:hover {
    user-select: none;
    cursor: default;
  }
  .favorite-coffee .slider__btn-left svg:hover, .favorite-coffee .slider__btn-right svg:hover {
    fill: #665F55;
  }
  .favorite-coffee .slider__btn-left svg:hover path, .favorite-coffee .slider__btn-right svg:hover path {
    stroke: #E1D4C9;
  }
  .about .grid-item__pic:hover {
    transform: translate(-50%, -50%) scale(1);
  }
  .mobile-app .download-market__appstore svg:hover, .mobile-app .download-market__gplay svg:hover {
    fill: #665F55;
  }
  .mobile-app .download-market__appstore svg:hover path, .mobile-app .download-market__gplay svg:hover path {
    fill: #E1D4C9;
  }
  .menu-tab__btn svg:hover .circle-stroke {
    stroke: #665F55;
    fill: #665F55;
  }
  .menu-tab__btn svg:hover .circle-img,
  .menu-tab__btn svg:hover .text {
    fill: #E1D4C9;
  }
  .menu-tab__btn--active:hover {
    user-select: none;
    cursor: default;
  }
  .menu .grid-coffee-item:hover .grid-coffee-item-box__pic, .menu .grid-tea-item:hover .grid-coffee-item-box__pic, .menu .grid-dessert-item:hover .grid-coffee-item-box__pic {
    transform: translate(-50%, -50%) scale(1);
  }
  .footerbox-desc-social__item svg:hover rect {
    stroke: #E1D4C9;
    fill: #E1D4C9;
  }
  .footerbox-desc-social__item svg:hover path {
    stroke: #403F3D;
  }
  .footerbox-connect-list__address:hover::after, .footerbox-connect-list__tel:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
@media screen and (max-width: 1439px) {
  .about {
    padding-bottom: 0;
  }
  .about .grid {
    grid-template-areas: "a" "d";
    justify-content: center;
  }
  .about .grid-item-2, .about .grid-item-3 {
    display: none;
  }
  .menu .grid-coffee, .menu .grid-dessert {
    grid-template-areas: "a b c" "d e f";
  }
  .menu .grid-coffee-item-7, .menu .grid-coffee-item-8, .menu .grid-dessert-item-7, .menu .grid-dessert-item-8 {
    display: none;
  }
}
@media screen and (max-width: 1330px) {
  .mobile-app {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mobile-app .download {
    flex-basis: auto;
    margin-bottom: 94px;
  }
  .mobile-app .download__title {
    margin: 100px 0 40px;
  }
}
@media screen and (max-width: 1181px) {
  .footerbox {
    justify-content: space-between;
  }
  .footerbox-desc {
    margin-right: 0;
  }
}
@media screen and (max-width: 1107px) {
  .menu .grid {
    margin-bottom: 40px;
  }
  .menu .grid-coffee, .menu .grid-dessert {
    grid-template-areas: "a b" "c d";
    justify-content: center;
  }
  .menu .grid-coffee-item-5, .menu .grid-coffee-item-6, .menu .grid-dessert-item-5, .menu .grid-dessert-item-6 {
    display: none;
  }
  .menu .grid-add {
    display: block;
  }
}
@media screen and (max-width: 1081px) {
  .footerbox {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 835px) {
  .nav-list, .nav__btn-menu {
    display: none;
  }
  .nav-btn-mobile-equal {
    display: block;
  }
  .nav--mobile .nav-list,
  .nav--mobile .nav__btn-menu {
    display: block;
  }
  .nav--mobile .nav-list__item:hover::after,
  .nav--mobile .nav__btn-menu:hover::after {
    opacity: 0;
  }
  .favorite-coffee .slider__btn-left {
    left: 0px;
  }
  .favorite-coffee .slider__btn-right {
    right: 0px;
  }
  .about .grid-item {
    width: 688px;
  }
  .about .grid-item__pic {
    transform: translate(-50%, -50%) scale(1.055);
    width: 688px;
    height: 688px;
  }
}
@media screen and (max-width: 817px) {
  .enjoy-desc {
    margin-left: 60px;
  }
  .enjoy-desc__btn {
    padding: 20px 93px 20px 64px;
    transform: translateX(0px);
  }
  .enjoy-desc__btn:hover {
    padding: 20px 93px 20px 64px;
  }
  .enjoy-desc__btn::after {
    opacity: 1;
    left: 116px;
    top: 22px;
  }
  .footerbox {
    padding-left: 60px;
    padding-bottom: 84px;
  }
  .footerbox-desc {
    margin-bottom: 62px;
  }
}
@media screen and (max-width: 784px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .enjoy {
    padding: 60px 0;
    box-sizing: content-box;
    padding-right: 7px;
  }
  .enjoy-desc {
    margin-left: 15px;
  }
  .enjoy-desc__title {
    font-size: 42px;
    line-height: 1.15;
  }
  .enjoy-desc__text {
    margin-bottom: 38px;
  }
  .enjoy-desc__btn {
    transform: translateX(1px);
  }
  .favorite-coffee__title {
    font-size: 32px;
  }
  .favorite-coffee .slider-box .slider__btn-left,
  .favorite-coffee .slider-box .slider__btn-right {
    display: none;
  }
  .favorite-coffee .slider-item__pic {
    width: 348px;
    height: 348px;
  }
  .about__title {
    font-size: 32px;
  }
  .about .grid-item {
    width: 468px;
  }
  .mobile-app .download__title {
    font-size: 32px;
  }
  .mobile-app__img {
    flex-basis: 468px;
    width: 468px;
    height: 468px;
  }
  .menu-desc__title {
    font-size: 32px;
  }
  .menu .grid-coffee, .menu .grid-tea, .menu .grid-dessert {
    grid-template-areas: "a" "b" "c" "d";
  }
  .footerbox-desc__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 565px) {
  .about .grid-item {
    width: 348px;
  }
  .about .grid-item__pic {
    width: 726px;
    height: 726px;
    transform: translate(-50%, -50%) scale(1);
  }
  .mobile-app .download {
    margin-bottom: 20px;
  }
  .mobile-app .download-market li {
    margin-bottom: 14px;
    margin-right: 9px;
  }
  .mobile-app__img {
    flex-basis: 348px;
    width: 348px;
    height: 348px;
  }
  .footerbox {
    padding: 60px 16px 44px;
  }
  .footerbox-desc {
    margin-bottom: 2px;
  }
}
.disable-btn,
.disable-mobile {
  display: none;
}

.active-btn {
  display: block;
}

.active-mobile {
  display: flex;
}

/*# sourceMappingURL=media.css.map */
