@import "variables";
@import "base";
@import "header";
@import "footer";
/*Some changes to header in menu*/
.nav {
    &__btn-menu{
        user-select: none;
        cursor: default;
        transform: translate(1px, -2px);
        &::after{
            opacity: 1;
            transform: scaleX(1);
        }
        &-icon {
            transform: translateX(0px);
        }
    }
    &-list {
        transform: translate(0px, -2px);
    }
    &--mobile {
        .nav__btn-menu {
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 835px) {//так как header и media общие, приходиться писать здесь
    .nav--mobile .nav__btn-menu {
        &::after {
            opacity: 0;
        }
    }
}
/*Menu*/
.menu {
    &-desc {
        &__title {
            max-width: 870px;
            margin: 20px auto 40px;
            font-size: 60px;
            font-weight: 600;
            line-height: 1.25;
            text-align: center;
            color: $text-dark;
        }
        &__subtitle {
            font-variation-settings: 'slnt' -10;
            color: $text-accent;
        }
    }
    &-tab {
        display: flex;
        justify-content: space-between;
        max-width: 362px;
        margin: 0 auto 40px;
        list-style-type: none;
        li:nth-child(1) .menu-tab__btn {
            width: 116px;
        }
        li:nth-child(2) .menu-tab__btn {
            width: 91px;
        }
        li:nth-child(3) .menu-tab__btn{
            width: 125px;
        }
        &__btn {
            display: flex;
            box-sizing: border-box;
            padding: 7px 17px 9px 7px;
            height: 46px;
            border: 1px solid $border-light;
            border-radius: 100px;
            transition: background-color 0.5s;
            svg {
                margin-right: 6px;
                .circle-img {
                    fill: $border-light;
                    transition: fill 0.5s;
                }
            }
            span {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                transform: translate(2px, 3px);
                color: $text-dark;
                transition: color 0.5s;
            }
            &--active {
                background-color: $border-dark;
                pointer-events: none;
                user-select: none;
                svg .circle-img {
                    fill: $text-light;
                }
                span {
                    color: $text-light;
                }
            }
        }
    }
    .grid {
        margin-bottom: 100px;
        &-coffee, 
        &-dessert {
            grid-template-areas: "a b c d"
                                 "e f g h";
            &-item {
                &-1 {grid-area: a;}
                &-2 {grid-area: b;}
                &-3 {grid-area: c;}
                &-4 {grid-area: d;}
                &-5 {grid-area: e;}
                &-6 {grid-area: f;}
                &-7 {grid-area: g;}
                &-8 {grid-area: h;}
            }
        }
        &-tea {
            grid-template-areas: "a b c d";
            &-item {
                &-1 {grid-area: a;}
                &-2 {grid-area: b;}
                &-3 {grid-area: c;}
                &-4 {grid-area: d;}
            }
        }
        &-coffee, 
        &-tea, 
        &-dessert {
            display: none;
            opacity: 0;
            gap: 40px;
            &-item {
                position: relative;
                width: 308px;
                height: 504px;
                border: 1px solid $border-light;
                border-radius: 40px;
                cursor: pointer;
                &-box {
                    position: relative;
                    height: 309px;
                    border-radius: 40px;
                    overflow: hidden;
                    &__pic {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 308px;
                        height: 100%;
                        transition: transform 0.5s;
                        transform: translate(-50%,-50%) scale(1.1);
                        //object-fit: cover;//глаз дергается от него, толку нет все равно
                    }
                }
                &__type {
                    margin: 21px 0px 11px 19px;
                }
                &__desc {
                    margin: 0 18px 13px 19px;
                }
                &__price {
                    margin-left: 19px;
                    position: absolute;
                    bottom: 18px;
                }
                &__type, 
                &__price, 
                &__desc {
                    color: $text-dark;
                }
                &__type, 
                &__price {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.25;
                }
            }
        }
        &--active {
            display: grid;
            opacity: 1;
        }
    }
    .grid-add {
        display: none;
        width: 60px;
        height: 60px;
        border: 1px solid $border-dark;
        border-radius: 100%;
        margin: -60px auto 100px;
        svg {
            fill: transparent;
            transform: translate(0px, 1px);
            path {
                stroke: $text-dark;
            }
        }
    }
}
/*Modal*/
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(64, 63, 61, 0.80);
    &-item {
        display: flex;
        justify-content: space-between;
        color: $text-dark;
        background-color: $text-light;
        border-radius: 40px;
        margin: auto;
        max-width: 800px;
        //max-height: 504px;
        max-height: min-content;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding: 16px;
        &__pic {
            width: 309px;
            height: 309px;
            border-radius: 40px;
            margin-right: 22px;
        }
        &-info {
            &__type {
                margin-bottom: 12px;
            }
            &__desc {
                margin-bottom: 20px;
            }
            &__size {
                margin-bottom: 7px;
            }
            &__add {
                margin-top: 20px;
                margin-bottom: 7px;
            }
            &-total {
                margin-top: 19px;
                margin-bottom: 19px;
                position: relative;
                &__price {
                    position: absolute;
                    right: 0;
                }
            }
            &__type,
            &-total {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.25;
            }
            &-list-s,
            &-list-a {
                list-style-type: none;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: baseline;
                &__btn {
                    box-sizing: border-box;
                    margin-right: 8px;
                    padding: 8px 16px 8px 6px;
                    border: 1px solid $border-light;
                    border-radius: 100px;
                    font-weight: 600;
                    transition: color 0.5s, background-color 0.5s, border 0.5s;
                    span {
                        color: $text-dark;
                        border-radius: 100%;
                        background-color: $border-light;
                        margin-right: 8px;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        box-sizing: border-box;
                        padding-top: 6px;
                        transition: background-color 0.5s;
                    }
                    .hidden_price {
                        display: none;
                    }
                }
            }
            &-list-s {
                &__btn {
                    &--active {
                        background-color: $border-dark;
                        border: 1px solid $border-dark;
                        color: $text-light;
                        pointer-events: none;
                        user-select: none;
                        span {
                            background-color: $text-light;
                        }
                    }
                }
            }
            &-list-a {
                &__btn {
                    &--active {
                        background-color: $border-dark;
                        border: 1px solid $border-dark;
                        color: $text-light;
                        //pointer-events: none;
                        //user-select: none;
                        span {
                            background-color: $text-light;
                        }
                    }
                }
            }
            &-alert {
                position: relative;
                font-size: 10px;
                font-weight: 600;
                line-height: 1.4;
                border-top: 1px solid $border-light;
                padding-top: 11px;
                padding-left: 23px;
                display: block;
                margin-bottom: 32px;
                span {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: -1px;
                    top: 11px;
                    background-image: url(../img/info.svg);
                }
            }
            &__btn-close {
                font-weight: 600;
                border-radius: 100px;
                border: 1px solid $border-dark;
                width: 100%;
                height: 44px;
                transition: color 0.5s, background-color 0.5s;
            }
        }
    }
}

.show-modal {
    display: block;
}
.disable-scrolling {
    overflow: hidden;
}
.disable-grid {
    pointer-events: none;
    user-select: none;
}
.transition-fade-in {
	animation-name: fadeIn;
	animation-duration: 0.25s;
}
.transition-fade-out {
	animation-name: fadeOut;
	animation-duration: 0.25s;
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}