/*Tags*/
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #E1D4C9;
}

h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  line-height: 1;
  background-color: transparent;
}
button:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

/*General*/
.wrapper {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.push-footer {
  flex-grow: 1;
}

.header {
  width: 100%;
  padding: 20px 40px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  flex-basis: 100px;
  height: 60px;
  background-image: url(../img/header_and_footer/logo.svg);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 456px;
  list-style-type: none;
  transform: translate(2px, -2px);
}
.nav-list__item, .nav__btn-menu {
  position: relative;
  font-weight: 600;
  color: #403F3D;
  cursor: pointer;
}
.nav-list__item::after, .nav__btn-menu::after {
  position: absolute;
  top: 26px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  transition: transform 0.5s, opacity 0.5s;
  transform: scaleX(0);
  opacity: 0;
  content: "";
  pointer-events: none;
}
.nav__btn-menu {
  transform: translate(5px, -2px);
}
.nav__btn-menu-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 9px;
  vertical-align: top;
  background-image: url(../img/header_and_footer/coffee-cup.svg);
  transform: translateX(-4px);
}
.nav-btn-mobile-equal {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  width: 44px;
  height: 44px;
  padding: 16px 11.6px 16px 12.4px;
  border: 1px solid #665F55;
  border-radius: 100%;
}
.nav-btn-mobile-equal__first, .nav-btn-mobile-equal__second {
  display: inline-block;
  width: 18px;
  height: 2px;
  border-radius: 1.5px;
  background-color: #403F3D;
  transition: transform 0.5s;
}
.nav-btn-mobile-equal__first {
  margin-bottom: 6px;
  transform-origin: 4px 3px;
}
.nav-btn-mobile-equal__second {
  transform-origin: 4px -1px;
}
.nav--mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 100vw;
  flex-direction: column;
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
  background-color: #E1D4C9;
  z-index: 1;
  transition: left 1s;
  pointer-events: auto;
}
.nav--mobile .nav-list,
.nav--mobile .nav__btn-menu {
  font-size: 32px;
  line-height: 1.25;
  transform: translate(0px, 1px);
}
.nav--mobile .nav-list {
  flex-basis: 100%;
  margin-bottom: 40px;
}
.nav--mobile .nav-list li {
  margin-bottom: 60px;
  text-align: center;
}
.nav--mobile .nav__btn-menu {
  margin-bottom: 324px;
}
.nav--mobile .nav__btn-menu-icon {
  width: 40px;
  height: 40px;
  background-image: url(../img/header_and_footer/coffee-cup-big.svg);
  transform: translate(-1px, -1px);
}

.wrap-mobile {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.footer {
  padding: 0 40px 40px;
}

.footerbox {
  display: flex;
  justify-content: flex-start;
  box-sizing: content-box;
  padding: 100px;
  padding-left: clamp(60px, 7vw, 100px);
  border-radius: 40px;
  background-color: #665F55;
}
.footerbox-desc {
  flex-basis: 530px;
  margin-right: 100px;
}
.footerbox-desc__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
  color: #E1D4C9;
}
.footerbox-desc__subtitle {
  font-variation-settings: "slnt" -10;
  color: #B0907A;
}
.footerbox-desc-social {
  display: flex;
  justify-content: space-between;
  max-width: 204px;
  list-style-type: none;
}
.footerbox-desc-social__item {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 17px;
  border: 1px solid #E1D4C9;
  border-radius: 100%;
  transition: background-color 0.5s;
}
.footerbox-desc-social__item svg {
  fill: transparent;
}
.footerbox-desc-social__item svg path {
  stroke: #E1D4C9;
  transition: stroke 0.5s;
}
.footerbox-connect {
  flex-basis: 265px;
}
.footerbox-connect__title {
  margin-top: 33px;
  margin-bottom: 39px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: #E1D4C9;
}
.footerbox-connect-list {
  list-style-type: none;
}
.footerbox-connect-list li {
  margin-bottom: 20px;
}
.footerbox-connect-list__address, .footerbox-connect-list__tel {
  position: relative;
}
.footerbox-connect-list__address::after, .footerbox-connect-list__tel::after {
  position: absolute;
  top: 26px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #E1D4C9;
  transition: transform 0.5s, opacity 0.5s;
  transform: scaleX(0);
  content: "";
  opacity: 0;
  pointer-events: none;
}
.footerbox-connect-list__address, .footerbox-connect-list__tel, .footerbox-connect-list__worktime {
  font-weight: 600;
  color: #E1D4C9;
}
.footerbox-connect-list__address-icon, .footerbox-connect-list__tel-icon, .footerbox-connect-list__worktime-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
}
.footerbox-connect-list__address-icon {
  background-image: url(../img/header_and_footer/pin-alt.svg);
}
.footerbox-connect-list__tel-icon {
  background-image: url(../img/header_and_footer/phone.svg);
}
.footerbox-connect-list__worktime-icon {
  background-image: url(../img/header_and_footer/clock.svg);
}

/*Some changes to header in menu*/
.nav__btn-menu {
  user-select: none;
  cursor: default;
  transform: translate(1px, -2px);
}
.nav__btn-menu::after {
  opacity: 1;
  transform: scaleX(1);
}
.nav__btn-menu-icon {
  transform: translateX(0px);
}
.nav-list {
  transform: translate(0px, -2px);
}
.nav--mobile .nav__btn-menu {
  cursor: pointer;
}

@media screen and (max-width: 835px) {
  .nav--mobile .nav__btn-menu::after {
    opacity: 0;
  }
}
/*Menu*/
.menu-desc__title {
  max-width: 870px;
  margin: 20px auto 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: #403F3D;
}
.menu-desc__subtitle {
  font-variation-settings: "slnt" -10;
  color: #B0907A;
}
.menu-tab {
  display: flex;
  justify-content: space-between;
  max-width: 362px;
  margin: 0 auto 40px;
  list-style-type: none;
}
.menu-tab li:nth-child(1) .menu-tab__btn {
  width: 116px;
}
.menu-tab li:nth-child(2) .menu-tab__btn {
  width: 91px;
}
.menu-tab li:nth-child(3) .menu-tab__btn {
  width: 125px;
}
.menu-tab__btn {
  display: flex;
  box-sizing: border-box;
  padding: 7px 17px 9px 7px;
  height: 46px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  transition: background-color 0.5s;
}
.menu-tab__btn svg {
  margin-right: 6px;
}
.menu-tab__btn svg .circle-img {
  fill: #C1B6AD;
  transition: fill 0.5s;
}
.menu-tab__btn span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  transform: translate(2px, 3px);
  color: #403F3D;
  transition: color 0.5s;
}
.menu-tab__btn--active {
  background-color: #665F55;
}
.menu-tab__btn--active svg .circle-img {
  fill: #E1D4C9;
}
.menu-tab__btn--active span {
  color: #E1D4C9;
}
.menu .grid {
  margin-bottom: 100px;
}
.menu .grid-coffee, .menu .grid-dessert {
  grid-template-areas: "a b c d" "e f g h";
}
.menu .grid-coffee-item-1, .menu .grid-dessert-item-1 {
  grid-area: a;
}
.menu .grid-coffee-item-2, .menu .grid-dessert-item-2 {
  grid-area: b;
}
.menu .grid-coffee-item-3, .menu .grid-dessert-item-3 {
  grid-area: c;
}
.menu .grid-coffee-item-4, .menu .grid-dessert-item-4 {
  grid-area: d;
}
.menu .grid-coffee-item-5, .menu .grid-dessert-item-5 {
  grid-area: e;
}
.menu .grid-coffee-item-6, .menu .grid-dessert-item-6 {
  grid-area: f;
}
.menu .grid-coffee-item-7, .menu .grid-dessert-item-7 {
  grid-area: g;
}
.menu .grid-coffee-item-8, .menu .grid-dessert-item-8 {
  grid-area: h;
}
.menu .grid-tea {
  grid-template-areas: "a b c d";
}
.menu .grid-tea-item-1 {
  grid-area: a;
}
.menu .grid-tea-item-2 {
  grid-area: b;
}
.menu .grid-tea-item-3 {
  grid-area: c;
}
.menu .grid-tea-item-4 {
  grid-area: d;
}
.menu .grid-coffee, .menu .grid-tea, .menu .grid-dessert {
  display: none;
  gap: 40px;
}
.menu .grid-coffee-item, .menu .grid-tea-item, .menu .grid-dessert-item {
  position: relative;
  width: 308px;
  height: 504px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
}
.menu .grid-coffee-item-box, .menu .grid-tea-item-box, .menu .grid-dessert-item-box {
  position: relative;
  height: 309px;
  border-radius: 40px;
  overflow: hidden;
}
.menu .grid-coffee-item-box__pic, .menu .grid-tea-item-box__pic, .menu .grid-dessert-item-box__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 308px;
  height: 100%;
  transition: transform 0.5s;
  transform: translate(-50%, -50%) scale(1.1);
  object-fit: cover;
}
.menu .grid-coffee-item__type, .menu .grid-tea-item__type, .menu .grid-dessert-item__type {
  margin: 21px 0px 11px 19px;
}
.menu .grid-coffee-item__desc, .menu .grid-tea-item__desc, .menu .grid-dessert-item__desc {
  margin: 0 18px 13px 19px;
}
.menu .grid-coffee-item__price, .menu .grid-tea-item__price, .menu .grid-dessert-item__price {
  margin-left: 19px;
  position: absolute;
  bottom: 18px;
}
.menu .grid-coffee-item__type, .menu .grid-coffee-item__price, .menu .grid-coffee-item__desc, .menu .grid-tea-item__type, .menu .grid-tea-item__price, .menu .grid-tea-item__desc, .menu .grid-dessert-item__type, .menu .grid-dessert-item__price, .menu .grid-dessert-item__desc {
  color: #403F3D;
}
.menu .grid-coffee-item__type, .menu .grid-coffee-item__price, .menu .grid-tea-item__type, .menu .grid-tea-item__price, .menu .grid-dessert-item__type, .menu .grid-dessert-item__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.menu .grid-coffee--active {
  display: grid;
}
.menu .grid-add {
  display: none;
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 100%;
  margin: 0 auto 100px;
}
.menu .grid-add svg {
  fill: transparent;
  transform: translate(0px, 1px);
}
.menu .grid-add svg path {
  stroke: #403F3D;
}

/*# sourceMappingURL=menu.css.map */
